:root {
  --introEmailBackgroundBlue: hsl(217, 28%, 15%);
  --mainBackgroundBlue: hsl(218, 28%, 13%);
  --footerBackgroundBlue: hsl(216, 53%, 9%);
  --testimonialsBackgroundBlue: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --btnHover: #9ed9e2;
  --lightRed: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--mainBackgroundBlue);
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 36px;
  margin-bottom: 2rem;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

/* Nav Bar */

.nav {
  background-color: var(--introEmailBackgroundBlue);
  font-family: "Raleway", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  padding: 4.5rem 5rem;
}

.nav-details {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  align-items: center;
  justify-items: end;
}

.nav-details p:hover {
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
}

/* Hero Section */

.hero {
  background: url("images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  background-color: var(--introEmailBackgroundBlue);
  display: grid;
  grid-template-columns: 720px;
  grid-template-rows: repeat(3, auto);
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.hero .illustration-intro {
  margin-bottom: 4rem;
}

.hero p {
  font-size: 18px;
  padding: 0rem 6rem 2rem;
}

/* Buttons */
.btn-get-started {
  background: linear-gradient(to right, var(--cyan), var(--blue));
  border: none;
  border-radius: 30px;
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10rem;
  padding: 18px 80px;
}

.btn-get-started:hover {
  cursor: pointer;
  background: var(--btnHover);
}

.btn-free {
  padding: 15px 40px;
  margin-bottom: 0rem;
}

/* Products Section */

.products-section {
  display: grid;
  grid-template-columns: repeat(2, 380px);
  grid-gap: 6rem 8rem;
  justify-content: center;
  text-align: center;
}

.product img {
  margin-bottom: 2rem;
  height: 80px;
}

/* Stay Productive Section */

.productive-section {
  display: grid;
  grid-template-columns: auto 500px;
  grid-gap: 3.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.productive-info p {
  padding-bottom: 1.5rem;
}

.fylo-works {
  border-bottom: 1.5px solid var(--cyan);
  color: var(--cyan);
  display: inline;
  padding-bottom: 2.5px;
}

.fylo-works i {
  font-size: 11px;
  padding-left: 5px;
  vertical-align: middle;
}

.fylo-works:hover {
  border-bottom: 1.5px solid var(--white);
  color: var(--white);
  cursor: pointer;
}

/* Testimonials Section */

.testimonials-section {
  background: url("images/bg-quotes.png");
  background-repeat: no-repeat;
  background-position: 8.75rem 0;
  display: grid;
  grid-template-columns: repeat(3, 355px);
  grid-gap: 2.5rem;
  justify-content: center;
  margin-top: 8rem;
  padding-top: 2rem;
}

.testimonial {
  background-color: var(--testimonialsBackgroundBlue);
  border-radius: 10px;
  padding: 2.5rem 2rem 1.5rem;
}

.user {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-gap: 15px;
  margin-top: 1.5rem;
}

.user img {
  border-radius: 50%;
  width: 25px;
}

.user-name {
  font-size: 10px;
  font-weight: 700;
}

.position {
  font-size: 6px;
}

/* Access Section */

.access-section {
  background-color: var(--introEmailBackgroundBlue);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  margin: 10rem auto -4rem;
  padding: 2.5rem;
  width: 860px;
  text-align: center;
}

.access-section p {
  padding: 1.5rem 4.5rem 2.5rem;
}

input[type="text"] {
  border-radius: 30px;
  margin-right: 2rem;
  padding: 15px 0;
  text-indent: 2rem;
  width: 460px;
}

::placeholder {
  color: rgb(199, 199, 199);
}

/* Footer */

.attribution {
  color: black;
  font-size: 11px;
  margin-top: 2rem;
  text-align: center;
}
.attribution a {
  color: black;
  text-decoration: none;
}

.attribution a:hover {
  color: #fff;
}
