:root {
  --introEmailBackgroundBlue: hsl(217, 28%, 15%);
  --mainBackgroundBlue: hsl(218, 28%, 13%);
  --footerBackgroundBlue: hsl(216, 53%, 9%);
  --testimonialsBackgroundBlue: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --btnHover: #9ed9e2;
  --lightRed: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ### Headings, Call-to-actions, Header Navigation

font-family: 'Raleway', sans-serif;
- Weights: 400, 700

### Body

font-family: 'Open Sans', sans-serif;
- Weights: 400, 700 */

body {
  background-color: var(--introEmailBackgroundBlue);
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 36px;
  margin-top: 4rem;
}

h3 {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

/* Nav Bar */

.nav {
  font-family: "Raleway", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  padding: 4.5rem 5rem;
}

.nav-details {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  align-items: center;
  justify-items: end;
}

.nav-details p:hover {
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
}

/* Hero Section */

.hero {
  text-align: center;
  display: grid;
  grid-template-columns: 720px;
  grid-template-rows: repeat(3, auto);
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.hero p {
  font-size: 18px;
  padding: 2rem 6rem;
}

/* Buttons */
.btn-get-started {
  background: linear-gradient(to right, var(--cyan), var(--blue));
  border: none;
  border-radius: 30px;
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 18px 80px;
}

.btn-get-started:hover {
  cursor: pointer;
  background: var(--btnHover);
}

/* Products Section */

.products-section {
  display: grid;
  grid-template-columns: repeat(2, 380px);
  grid-gap: 6rem 8rem;
  justify-content: center;
  margin-top: 10rem;
  text-align: center;
}

.product img {
  margin-bottom: 2rem;
  height: 80px;
}

/* Footer */

.attribution {
  color: black;
  font-size: 11px;
  margin-top: 2rem;
  text-align: center;
}
.attribution a {
  color: black;
  text-decoration: none;
}

.attribution a:hover {
  color: #fff;
}
/* 
@media only screen and (min-width: 1440px) {
  .nav {
    width: 1440px;
  }
} */
