:root {
  --introEmailBackgroundBlue: hsl(217, 28%, 15%);
  --mainBackgroundBlue: hsl(218, 28%, 13%);
  --footerBackgroundBlue: hsl(216, 53%, 9%);
  --testimonialsBackgroundBlue: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --btnHover: #9ed9e2;
  --lightRed: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--mainBackgroundBlue);
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 38px;
  margin-bottom: 2rem;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

/* Nav Bar */
.nav {
  background-color: var(--introEmailBackgroundBlue);
  font-family: "Raleway", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  font-size: 16px;
  padding: 4.5rem 5rem;
}

.nav-details {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  align-items: center;
  justify-items: end;
}

.nav-details p:hover {
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
}

/* Hero Section */
.hero {
  background: url("images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  background-color: var(--introEmailBackgroundBlue);
  display: grid;
  grid-template-columns: 720px;
  grid-template-rows: repeat(3, auto);
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.hero .illustration-intro {
  margin-bottom: 4rem;
}

.hero p {
  font-size: 18px;
  padding: 0rem 6rem 2rem;
}

/* Buttons */
.btn-get-started {
  background: linear-gradient(to right, var(--cyan), var(--blue));
  border: none;
  border-radius: 30px;
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10rem;
  padding: 18px 80px;
}

.btn-get-started:hover {
  cursor: pointer;
  background: var(--btnHover);
}

.btn-free {
  padding: 15px 40px;
  margin-bottom: 0rem;
}

/* Products Section */
.products-section {
  display: grid;
  grid-template-columns: repeat(2, 380px);
  grid-gap: 6rem 8rem;
  justify-content: center;
  text-align: center;
}

.product img {
  margin-bottom: 2rem;
  height: 80px;
}

/* Stay Productive Section */
.productive-section {
  display: grid;
  grid-template-columns: auto 500px;
  grid-gap: 3.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.productive-section h1 {
  padding-right: 6.5rem;
}

.productive-info p {
  padding-bottom: 1.5rem;
}

.fylo-works {
  border-bottom: 1.5px solid var(--cyan);
  color: var(--cyan);
  display: inline;
  padding-bottom: 2.5px;
}

.fylo-works i {
  font-size: 11px;
  padding-left: 5px;
  vertical-align: middle;
}

.fylo-works:hover {
  border-bottom: 1.5px solid var(--white);
  color: var(--white);
  cursor: pointer;
}

/* Testimonials Section */
.testimonials-section {
  display: grid;
  grid-template-columns: repeat(3, 355px);
  grid-gap: 2.5rem;
  justify-content: center;
  margin-top: 8rem;
  padding-top: 2rem;
}

.bg-quotes {
  position: absolute;
  top: -2.25rem;
  left: -0.5rem;
  z-index: -1;
}

.testimonial {
  background-color: var(--testimonialsBackgroundBlue);
  border-radius: 5px;
  padding: 2.5rem 2rem 1.5rem;
  position: relative;
}

.user {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-gap: 15px;
  margin-top: 1.5rem;
}

.user img {
  border-radius: 50%;
  width: 25px;
}

.user-name {
  font-size: 11px;
  font-weight: 700;
}

.position {
  font-size: 8px;
}

/* Access Section */
.access-section {
  background-color: var(--introEmailBackgroundBlue);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin: 4rem auto 0;
  padding: 2.5rem;
  position: relative;
  top: 8rem;
  width: 860px;
  text-align: center;
}

.access-section p {
  padding: 1.5rem 4.5rem 2.5rem;
}

input[type="text"] {
  border: none;
  border-radius: 30px;
  margin-right: 2rem;
  padding: 16px;
  text-indent: 2rem;
  width: 460px;
}

::placeholder {
  color: rgb(199, 199, 199);
}

/* Bottom Section */
.bottom-section {
  background-color: var(--footerBackgroundBlue);
  padding: 12.5rem 5rem 3.5rem;
}

.bottom-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 2rem;
}

/* Contacts */
.contacts {
  display: grid;
  grid-template-columns: repeat(2, 320px);
  grid-gap: 6.5rem;
}

.location,
.phone,
.mail {
  display: flex;
  align-items: baseline;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

/* Pages */
.pages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6.5rem;
  justify-self: center;
}

.pages p {
  padding-bottom: 1rem;
}

.pages p:hover {
  cursor: pointer;
  font-weight: 700;
}

/* Social Icons */
.social-icons {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  justify-self: center;
}

.social-icons i {
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 14px;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  width: 32px;
}

.social-icons i:hover {
  border: 1px solid var(--cyan);
  color: var(--cyan);
  cursor: pointer;
}

/* Footer */
.attribution {
  color: var(--white);
  font-size: 11px;
  margin-left: 2.25rem;
}

.attribution a {
  color: var(--white);
  text-decoration: none;
}

.attribution a:hover {
  cursor: pointer;
  color: #fff;
  font-weight: 700;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 24px;
    margin-bottom: 1.5rem;
  }

  h2,
  h3 {
    font-size: 18px;
  }

  /* Nav Bar */
  .nav {
    padding: 1.5rem 1.5rem 3.5rem;
  }

  .nav img {
    width: 80px;
  }

  .nav-details {
    font-size: 12px;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1.5rem;
  }

  /* Hero Section */
  .hero {
    background: url("images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vmax;
    background-color: var(--introEmailBackgroundBlue);
    grid-template-columns: 300px;
  }

  .hero .illustration-intro {
    width: 300px;
    margin-bottom: 2rem;
  }

  .hero p {
    font-size: 14px;
    padding: 0rem 0rem 2rem;
  }

  /* Buttons */
  .btn-get-started {
    font-size: 14px;
    margin-bottom: 0rem;
    padding: 16px 80px;
  }

  .btn-free {
    padding: 16px 60px;
    margin-bottom: 0rem;
  }

  /* Products Section */
  .products-section {
    grid-template-columns: 320px;
    padding-top: 8rem;
  }

  .product img {
    height: 60px;
  }

  /* Stay Productive Section */
  .productive-section {
    grid-template-columns: 300px;
  }

  .productive-section img {
    width: 300px;
  }

  .productive-section h1 {
    font-size: 18px;
    padding-right: 0rem;
  }

  /* Testimonials Section */

  .testimonials-section {
    grid-template-columns: 300px;
    grid-gap: 1.5rem;
  }

  .bg-quotes {
    top: -1rem;
    left: 0.5rem;
    width: 25px;
  }

  .testimonial {
    font-size: 11px;
    padding: 1.5rem 1rem;
    line-height: 2;
  }

  .user {
    margin-top: 1rem;
  }

  .position {
    margin-top: -5px;
  }

  /* Access Section */
  .access-section {
    padding: 2.5rem 1.5rem;
    top: 6rem;
    width: 320px;
  }

  .access-section p {
    padding: 1rem 0rem 2rem;
  }

  input[type="text"] {
    margin: 0 0 1.5rem;
    padding: 15px;
    text-indent: 1rem;
    width: 255px;
  }

  ::placeholder {
    font-size: 11px;
  }

  /* Bottom Section */
  .bottom-section {
    padding: 12.5rem 1.5rem 3.5rem;
  }

  .bottom-info {
    grid-template-columns: 1fr;
    grid-gap: 3.5rem;
  }

  /* Contacts */
  .contacts {
    grid-template-columns: 300px;
    grid-gap: 0rem;
  }

  /* Pages */
  .pages {
    grid-template-columns: 300px;
    grid-gap: 1rem;
  }

  /* Footer */
  .attribution {
    margin: 2.5rem 0 0;
    text-align: center;
  }
}
